html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Homework 61
  body 
    h1 #{product_title}
    h2 For just #{product_price}